@font-face {
    font-family: "ayra";
    src: url("ayra.woff2?9e1d5e388f8969331173080f56dfc91b") format("woff2"), url("ayra.woff?9e1d5e388f8969331173080f56dfc91b") format("woff"), url("ayra.ttf?9e1d5e388f8969331173080f56dfc91b") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: fallback
}

.ayra {
    line-height: 1;
    font-weight: 400;
    line-height: 1
}

.ayra:before {
    font-family: "ayra" !important;
    text-transform: none;
    font-style: normal !important;
    font-weight: normal !important;
    speak: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.ayra-achieve:before {
    content: "\f618"
}

.ayra-achieved-tier:before {
    content: "\f619"
}

.ayra-alert:before {
    content: "\f61a"
}

.ayra-arrow-back:before {
    content: "\f61b"
}

.ayra-bin-delete:before {
    content: "\f61c"
}

.ayra-buy-miles:before {
    content: "\f61d"
}

.ayra-calculator-empty:before {
    content: "\f61e"
}

.ayra-calendar-light:before {
    content: "\f61f"
}

.ayra-call:before {
    content: "\f620"
}

.ayra-claim-miles:before {
    content: "\f621"
}

.ayra-completion:before {
    content: "\f622"
}

.ayra-destination:before {
    content: "\f623"
}

.ayra-download-circle:before {
    content: "\f624"
}

.ayra-earn-miles:before {
    content: "\f625"
}

.ayra-edit-light:before {
    content: "\f626"
}

.ayra-email-light:before {
    content: "\f627"
}

.ayra-email-settings:before {
    content: "\f628"
}

.ayra-filter-light:before {
    content: "\f629"
}

.ayra-flight-left:before {
    content: "\f62a"
}

.ayra-flight-right:before {
    content: "\f62b"
}

.ayra-land:before {
    content: "\f62c"
}

.ayra-lock:before {
    content: "\f62d"
}

.ayra-manage-profile:before {
    content: "\f62e"
}

.ayra-membership-card:before {
    content: "\f62f"
}

.ayra-onboard:before {
    content: "\f630"
}

.ayra-password:before {
    content: "\f631"
}

.ayra-personal-details:before {
    content: "\f632"
}

.ayra-personal-preferences:before {
    content: "\f633"
}

.ayra-phone-pin:before {
    content: "\f634"
}

.ayra-planning-trip:before {
    content: "\f635"
}

.ayra-relationship-manager:before {
    content: "\f636"
}

.ayra-renew:before {
    content: "\f637"
}

.ayra-sort:before {
    content: "\f638"
}

.ayra-timer:before {
    content: "\f639"
}

.ayra-train-light:before {
    content: "\f63a"
}

.ayra-welcome:before {
    content: "\f63b"
}

.ayra-wing:before {
    content: "\f63c"
}

.ayra-chauffeur:before {
    content: "\f63d"
}

.ayra-chevron-down:before {
    content: "\f63e"
}

.ayra-chevron-left:before {
    content: "\f63f"
}

.ayra-chevron-right:before {
    content: "\f640"
}

.ayra-chevron-up:before {
    content: "\f641"
}

.ayra-close:before {
    content: "\f642"
}

.ayra-donate:before {
    content: "\f643"
}

.ayra-faq:before {
    content: "\f644"
}

.ayra-meals:before {
    content: "\f645"
}

.ayra-redeem:before {
    content: "\f646"
}

.ayra-special-offers:before {
    content: "\f647"
}

.ayra-spend:before {
    content: "\f648"
}

.ayra-stopover:before {
    content: "\f649"
}

.ayra-tool-tip:before {
    content: "\f64a"
}

.ayra-transfer:before {
    content: "\f64b"
}

.ayra-travel-coordinator:before {
    content: "\f64c"
}

.ayra-visa:before {
    content: "\f64d"
}

.ayra-attachment:before {
    content: "\f64e"
}

.ayra-chat:before {
    content: "\f64f"
}

.ayra-close-light:before {
    content: "\f650"
}

.ayra-copy:before {
    content: "\f651"
}

.ayra-download-light:before {
    content: "\f652"
}

.ayra-drag:before {
    content: "\f653"
}

.ayra-expand:before {
    content: "\f654"
}

.ayra-external-link:before {
    content: "\f655"
}

.ayra-facebook-light:before {
    content: "\f656"
}

.ayra-instagram-light:before {
    content: "\f657"
}

.ayra-linkedin-light:before {
    content: "\f658"
}

.ayra-lounge:before {
    content: "\f659"
}

.ayra-menu-dots:before {
    content: "\f65a"
}

.ayra-minimise:before {
    content: "\f65b"
}

.ayra-no-results:before {
    content: "\f65c"
}

.ayra-play-fill:before {
    content: "\f65d"
}

.ayra-send:before {
    content: "\f65e"
}

.ayra-twitter-light:before {
    content: "\f65f"
}

.ayra-unaccompanied-minors:before {
    content: "\f660"
}

.ayra-volume-full:before {
    content: "\f661"
}

.ayra-youtube-light:before {
    content: "\f662"
}

.ayra-exclamation-light:before {
    content: "\f663"
}

.ayra-pause:before {
    content: "\f664"
}

.ayra-play:before {
    content: "\f665"
}

.ayra-bassinet:before {
    content: "\f666"
}

.ayra-bus:before {
    content: "\f667"
}

.ayra-extra-legroom:before {
    content: "\f668"
}

.ayra-helicopter:before {
    content: "\f669"
}

.ayra-preferred-seat:before {
    content: "\f66a"
}

.ayra-train:before {
    content: "\f66b"
}

.ayra-twin-seat:before {
    content: "\f66c"
}

.ayra-unavailable-seat:before {
    content: "\f66d"
}

.ayra-check-circle:before {
    content: "\f66e"
}

.ayra-clock-time:before {
    content: "\f66f"
}

.ayra-in-progress:before {
    content: "\f670"
}

.ayra-location-light:before {
    content: "\f671"
}

.ayra-locked:before {
    content: "\f672"
}

.ayra-a380-outbound:before {
    content: "\f673"
}

.ayra-bus-light:before {
    content: "\f674"
}

.ayra-check:before {
    content: "\f675"
}

.ayra-city-skyline:before {
    content: "\f676"
}

.ayra-exclamation:before {
    content: "\f677"
}

.ayra-flight-connection:before {
    content: "\f678"
}

.ayra-globe:before {
    content: "\f679"
}

.ayra-pilgrimage:before {
    content: "\f67a"
}

.ayra-72-hours:before {
    content: "\f67b"
}

.ayra-collapse:before {
    content: "\f67c"
}

.ayra-culinary:before {
    content: "\f67d"
}

.ayra-disabled-facilities:before {
    content: "\f67e"
}

.ayra-filetype-pdf:before {
    content: "\f67f"
}

.ayra-historical:before {
    content: "\f680"
}

.ayra-inbound-flight:before {
    content: "\f681"
}

.ayra-outbound-flight:before {
    content: "\f682"
}

.ayra-toilet-area:before {
    content: "\f683"
}

.ayra-transfer-bank:before {
    content: "\f684"
}

.ayra-plane:before {
    content: "\f685"
}

.ayra-question:before {
    content: "\f686"
}

.ayra-plus:before {
    content: "\f687"
}

.ayra-loading:before {
    content: "\f688"
}

.ayra-regular-seat:before {
    content: "\f689"
}

.ayra-exit:before {
    content: "\f68a"
}

.ayra-flight-stopover:before {
    content: "\f68b"
}

.ayra-circle:before {
    content: "\f68c"
}

.ayra-credit-card:before {
    content: "\f68d"
}

.ayra-clock-fare:before {
    content: "\f68e"
}

.ayra-destinations:before {
    content: "\f68f"
}

.ayra-minus:before {
    content: "\f690"
}

.ayra-profile-account:before {
    content: "\f691"
}

.ayra-cash-plus-miles:before {
    content: "\f692"
}

.ayra-miles:before {
    content: "\f693"
}

.ayra-offer:before {
    content: "\f694"
}

.ayra-upgrade-class:before {
    content: "\f695"
}

.ayra-upgrade:before {
    content: "\f696"
}

.ayra-check-in-online:before {
    content: "\f697"
}

.ayra-overnight-stay:before {
    content: "\f698"
}

.ayra-brand-tiktok:before {
    content: "\f699"
}

.ayra-brand-pinterest:before {
    content: "\f69a"
}

.ayra-brand-snapchat:before {
    content: "\f69b"
}

.ayra-brand-x:before {
    content: "\f69c"
}

.ayra-envelope-forward:before {
    content: "\f69d"
}

.ayra-fold:before {
    content: "\f69e"
}

.ayra-hyperlink:before {
    content: "\f69f"
}

.ayra-refresh:before {
    content: "\f6a0"
}

.ayra-email-forward:before {
    content: "\f6a1"
}

.ayra-fold-light:before {
    content: "\f6a2"
}

.ayra-airport-security:before {
    content: "\f6a3"
}

.ayra-attention:before {
    content: "\f6a4"
}

.ayra-check-in-area:before {
    content: "\f6a5"
}

.ayra-mytrips:before {
    content: "\f6a6"
}

.ayra-passenger:before {
    content: "\f6a7"
}

.ayra-print-boarding-pass:before {
    content: "\f6a8"
}

.ayra-business-suitcase:before {
    content: "\f6a9"
}

.ayra-compressed-gas:before {
    content: "\f6aa"
}

.ayra-corrosive-materials:before {
    content: "\f6ab"
}

.ayra-drones:before {
    content: "\f6ac"
}

.ayra-e-cigarettes:before {
    content: "\f6ad"
}

.ayra-explosives-firearms:before {
    content: "\f6ae"
}

.ayra-flammable-liquids:before {
    content: "\f6af"
}

.ayra-flammable-solids:before {
    content: "\f6b0"
}

.ayra-map:before {
    content: "\f6b1"
}

.ayra-miscellaneous-dangerous-goods:before {
    content: "\f6b2"
}

.ayra-oxidising-materials:before {
    content: "\f6b3"
}

.ayra-personal-motorised-vehicles:before {
    content: "\f6b4"
}

.ayra-personal-transport-devices:before {
    content: "\f6b5"
}

.ayra-power-banks:before {
    content: "\f6b6"
}

.ayra-radioactive-materials:before {
    content: "\f6b7"
}

.ayra-smart-bags:before {
    content: "\f6b8"
}

.ayra-spare-batteries-converted:before {
    content: "\f6b9"
}

.ayra-toxic-substances:before {
    content: "\f6ba"
}